{% extends '@EasyAdmin/default/layout.html.twig' %}

{% macro link_hierarchy_title(link) %}
    {{ link.url }}
    <small>#{{ link.id }}</small>

    {% if link.containedInSource('sitemap') %}
        <small class="label bg-blue">Sitemap</small>
    {% endif %}
    {% if link.containedInSource('html') %}
        <small class="label bg-red">Html</small>
    {% endif %}
    {% if link.containedInSource('robots') %}
        <small class="label bg-orange">Robots</small>
    {% endif %}
    <div class="pull-right">
        {% if link.type == 'external' %}
            <small class="label bg-red">external</small>
        {% elseif link.type == 'internal' %}
            <small class="label bg-green">internal</small>
        {% endif %}
    </div>

{% endmacro %}

{% macro link_hierarchy(link) %}
    {% import _self as macro %}

    {% if link.children is not empty %}
        {{ macro.link_hierarchy_title(link) }}
        <ul>
            {% for children in link.children %}
                <li>
                    {{ macro.link_hierarchy(children) }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ macro.link_hierarchy_title(link) }}
    {% endif %}
{% endmacro %}

{% block main %}

    <div class="hierarchy">
        {% import _self as macro %}
        {{ macro.link_hierarchy(root) }}
    </div>

{% endblock %}

