{% if view == 'show' %}
    {% if value|length > 0 %}
        <div class="field_array">
            {{ value|length }} keys
            <ul>
                {% for key, element in value %}
                    {% if element is iterable %}
                        <li><span><b>{{ key }}</b></span>
                            {% for val in element %}
                                 -> {{ val }}<br>
                            {% endfor %}
                        </li>
                    {% else %}
                        <li><span><b>{{ key }}</b></span> -> {{ element }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="empty collection-empty">
            empty
            {#{{ include(entity_config.templates.label_empty) }}#}
        </div>
    {% endif %}
{% else %}
    {% if value|length > 0 %}
        <div title="{{ value|join("\n") }}">
            {{ value|length }} errors
        </div>
    {% elseif value|length == 0 %}
        0
    {% else %}
        <div class="empty collection-empty">
            empty
            {#{{ include(entity_config.templates.label_empty) }}#}
        </div>
    {% endif %}
{% endif %}
