{#{{ dump(value) }}#}
{% if view == 'show' %}
    {% if value|length > 0 %}
        <ul>
            {% for key,element in value %}
                <li>{{ key }} -> {{ element }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="empty collection-empty">
            {{ include(entity_config.templates.label_empty) }}
        </div>
    {% endif %}
{% else %}
    {% if value|length > 0 %}
        <div title="{{ value|join("\n") }}">
            {{ value|length }} errors
        </div>
    {% elseif value|length == 0%}
        0 errors
    {% else %}
        <div class="empty collection-empty">
            {{ include(entity_config.templates.label_empty) }}
        </div>
    {% endif %}
{% endif %}
